.popup-window-inner {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #8a8585, rgb(157, 152, 152));
    border-radius: 10px;
    padding: 1px;
}
.leave-button {
    position: absolute; top: 0; right: 0; z-index: 1;
    color: rgb(176, 162, 162); background-color: rgb(255, 255, 255, 0);
}

.portfolio-container .portfolio-detail{
    color: black;
}

.portfolio-select_button {
    background-color: transparent;
    transition: background-color 0.3s;
    color: black;
    text-align: center;
    border: none;
}

.about-pre{
    white-space: pre-wrap; /* 保留空白和换行符 */
    font-family: Arial, sans-serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }
  
.lchild {
  width: 70%;
  box-sizing: border-box;
  text-align: left;
}

.rchild {
  width: 150px;
  box-sizing: border-box;
  text-align: left;
}

@media (max-width: 768px) {
  .lchild {
    width: 100%;
  }
}

.scalable-div , .scalable-div h5, .scalable-div h4 , .scalable-div p{
  padding: 20px; /* 可根據需求調整內邊距 */
  font-size: 1.8vmin; /* 這裡的2是一個可調整的倍率，根據實際需求調整 */
  padding: 0; /* 清除默认的内边距 */
  justify-content: left; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  text-align: left;
}