/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap'); */

.popup-window-inner {
    padding: 1px;
}
.leave-button {
    position: absolute; top: 0; right: 0; z-index: 1;
    color: rgb(176, 162, 162); background-color: rgb(255, 255, 255, 0);
}

.portfolio-container .portfolio-detail{
    color: black;
}

.portfolio-select-button {
    background-color: transparent;
    transition: background-color 0.3s;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 1em;
    white-space: nowrap;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-select-button option:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.about-pre{
    white-space: pre-wrap; /* 保留空白和换行符 */
    font-family: Arial, sans-serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
.lchild {
  width: 100%; /*要恢復左右排列就改寫成80%*/
  box-sizing: border-box;
  text-align: center;
  color: rgb(109, 109, 109);
}

.lchild p{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 2em;
}

.rchild {
  width: 100%; /*要恢復左右排列就改寫成150px*/
  box-sizing: border-box;
  text-align: center; /* 左右排列的話置左比較好 */
}

.rchild ul li{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 2em;
  color: rgb(128, 128, 128, 0.829);
}

/* @media (max-width: 768px) {
  .lchild {
    width: 100%;
  }
} */

.scalable-div {
  padding: 20px; /* 可根據需求調整內邊距 */
  justify-content: left; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  text-align: left;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 如果需要調整 h5、h4、p 的字體大小，也可以使用 em */
.scalable-div h5,
.scalable-div h4,
.scalable-div ul{
  font-size: 1.1em; /* 使用相對單位，根據實際需求調整 */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scalable-div ul li{
  font-size: 0.9em; /* 使用相對單位，根據實際需求調整 */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scalable-div li{
  font-size: 0.9em; /* 使用相對單位，根據實際需求調整 */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scalable-div p{
  font-size: 1em;
  color: rgb(45, 45, 45);
  white-space: pre-wrap;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scalable-div ul ul li{
  font-size: 0.9em; /* 使用相對單位，根據實際需求調整 */
}

.description_list{
  list-style-type: none; 
  padding: 0;
}

.description_list li{
  font-weight: normal; 
  color:rgb(75, 75, 75)
} 


.description_list ul li{
  text-align: left;
  color:rgba(96, 95, 95);
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.5em;
  list-style-type: disc; 
}

.contact-link{
  color: rgb(43, 43, 43);
  font-weight: bold;
}

.contact-link:hover{
  color: rgba(0, 0, 0, 0.309);
  text-decoration: underline;
}

.vertical-align{
  display: flex;
  flex-direction: column;
}

.vertical-align h5 {
  margin-top: 0;
  margin-bottom: 50px;
}