.popup-window-inner {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #8a8585, rgb(157, 152, 152));
    border-radius: 10px;
    padding: 1px;
}
.leave-button {
    position: absolute; top: 0; right: 0; z-index: 1;
    color: rgb(176, 162, 162); background-color: rgb(255, 255, 255, 0);
}

.portfolio-container .portfolio-detail{
    color: black;
}

.portfolio-select_button {
    background-color: transparent;
    transition: background-color 0.3s;
    color: black;
    text-align: center;
    border: none;
}

.about-pre{
    white-space: pre-wrap; /* 保留空白和换行符 */
    font-family: Arial, sans-serif;
}